@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.fc-prev-button.fc-button.fc-button-primary{
    color: white;
    font-size: 16px;
    background-color: #5A8DEE;
    border: none;
  }
  .fc-next-button.fc-button.fc-button-primary{
    color: white;
    font-size: 16px;
    background-color: #5A8DEE;
    border: none;
  }
  .fc-scrollgrid-sync-table{
    color: #727E8C;
  }
  .fc-scrollgrid-section.fc-scrollgrid-section-header {
    color: #475F7B;
    font-size: .8rem;
    font-weight: 400;
    padding-top: 4px;
  }
  #fc-dom-86{
    font-size: 1.2rem;
    font-weight: 400;
    color: #475F7B;
    line-height: 1.4;
    letter-spacing: 0.05rem;
  }
  .fc-dayGridMonth-view.fc-view.fc-daygrid{
    background-color: burlywood;
  }
  .fc-scrollgrid.fc-scrollgrid-liquid{
    /* width: 300px; */
    background-color: salmon;
   overflow:hidden;
  }
  .rbc-btn-group{
    color: white;
    font-size: 16px;
    background-color: #5A8DEE;
    border: none;
  }
  .rbc-calendar{
    background-color: #fff;
    color: #475F7B;
  }
  .rbc-header{
    color: #475F7B;
    
    font-weight: 400px;
    letter-spacing: 1px;
    
  }
  .calendar-style{
    min-width: 400px;
  }
  .my-custom-class{
    font-size: 1.2rem;
}
@layer components{
.card-heading{
  @apply  leading-5 my-custom-class text-[#475f7b] font-normal tracking-wider capitalize
}
.card-outermost-div{
  @apply p-4  w-1/3 rounded-lg cardmd:w-1/2 cardsm:w-full splitcard:w-full
}
.card-div{
  @apply bg-[#fff]  rounded-lg shadow-lg shadow-slate-500/50
}
.card:hover{
  @apply bg-slate-100
}
.my-team-card{
  @apply flex m-2 py-4 px-2 items-center card
}
.my-team-img{
  @apply w-8 h-8 object-cover rounded-full mr-2
}
.component{
  @apply flex  bg-[#f2f4f4] 
}
.main-component{
  @apply flex flex-wrap h-screen overflow-scroll xl:w-full 
}
.bonus-screen-sizes{
  @apply sidebarCard:overflow-x-scroll burger:overflow-x-scroll cardsm:overflow-x-scroll
}
.td-padding-bonus{
  @apply p-6
}
}
